node_modules
npm-debug.log
.git
.gitignore
.env
.vscode
.firebaserc
firebase.json
firestore-debug.log
*.log
dist

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfvars